<a href="https://colab.research.google.com/github/vmcarranzam/labsl1/blob/main/Examen_Parcial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. ¿Qué es Machine Learning?

Es un conjunto de técnicas basadas en algoritmos que crean modelos de forma iterativa a partir de sets de datos para  permitirle a las computadoras "aprender" y predecir resultados, sin programar de forma explícita dichos modelos.

#2. Liste los tipos de aprendizaje de máquina

Supervisado y No supervisado

#3. ¿Cuál es la diferencia entre AI y ML?

La Inteligencia Artificial es una rama amplia de las ciencias de la computación  que abarca las técnicas utilizadas para dotar de inteligencia a una computadora, emulando procesos cognitivos. Machine Learning es una sub-rama de la Inteligencia artificial, por lo que abarca solo un sub-grupo de las áreas de interés de la misma, particularmente los algoritmos para que una computadora pueda "aprender" basándose en datos.

#4.  Describa brevemente como se realiza un modelo de predicción para ML

1. Se realiza exploración de datos para entender mejor las variables y entradas que contienen el o los datasets a utilizar.
2. Se determina el tipo de modelo a utilizar y las métricas de validación correspondiente, según lo que se busca con el mismo.
3. Se elige la forma de separación del dataset en sub-sets de entrenamiento y sub-sets de validación (Kfold, división porcentual aleatoria, etc)
4. Se entrena el modelo con los datos elegidos para entrenamiento.
5. Se realizan pruebas de validación del modelo con el o los sub-sets de validación.
6. Se decide, según las métricas determinadas, si el modelo es preciso, si está sobre ajustado o si no es útil.

#5. Describa dos algoritmos de ML y dos de sus aplicaciones.

Regresión Lineal: algoritmo que utiliza las entradas de una o más variables independientes para calcular los coeficientes (pendiente e intercepto) de una recta que se aproxima a la distribución de datos utilizada para el entrenamiento. Es útil para predicción de valores continuos como precios de casas ó precios de acciones.

Clustering: algoritmo que separa las entradas de las variables independientes en grupos o clusters según sus similitudes. Puede ser útil para realizar segmentaciones óptimas de audiencias en campañas de marketing y categorización de clientes para sistemas de sugerencias.

#6. ¿Cómo se calcula los 𝜃s en una regresión lineal?

Se calculan utilizando el algoritmo de gradiente decreciente, que itera para determinar los coeficientes para la recta que minimizan el error en la predicción del modelo.

#7. ¿Qué es "ACCURACY" en un modelo de ML?

Es una métrica usada para medir el rendimiento de un modelo de aprendizaje de máquina. Consiste en el cálculo de la proporción de predicciones correctas realizadas por el modelo en el grupo de datos utilizados para validar.

#8. ¿Cómo funciona K-FOLD CROSS VALIDATION?

La  técnica de validación cruzada de K-pliegues o grupos consiste en dividir el dataset empleado en K grupos de datos de tamaños aproximadamente iguales, para luego utilizar uno de ellos por iteración como el grupo de datos de validación, mientras todo el resto es utilizado para entrenar al modelo. La parte de validación consiste en comparar las métricas de rendimiento de los K-modelos  entrenados y elegir aquel que tenga las mejores.

#9. ¿Cómo se determina si el problema es lineal o no lineal en algoritmos de ML?

Se determina la linealidad de un problema analizando la relación entre las variables independientes y la dependiente. Si es posible trazar una línea recta que modele de forma precisa el comportamiento de los datos del problema, se trata de un modelo lineal, de lo contrario, si se requiere de otro tipo de función no lineal para modelar el comportamiento, se trata de un modelo no lineal.

#10. ¿Cómo se selecciona el "K" correcto para el algoritmo K-Nearest?

Puede seleccionarse de forma heurística, empezando desde un valor bajo, aumentándolo iterativamente y observar el cambio en el rendimiento del modelo obtenido.

También es usual que se seleccione calculando la raíz cuadrada del número de muestras o datos utilizados para el entrenamiento.

#11. Usted esta interpretando el resultado de un algoritmo de ML que categoriza pacientes de enfermedades terminales, la matriz de confusión devolvio el valor TP con 8 y FN con 15, ¿qué podría concluir del modelo?

El modelo predice correctamente solamente un aproximado de 1/3 de las ocasiones mientras que lo hace de forma errónea (falsos negativos) 2/3 de las veces. Tratándose de enfermedades terminales, el modelo es poco confiable para ser considerado útil.

#12. Usted esta interpretando un modelo de ML que tiene un F1-SCORE de 1, ¿qué podria concluir del modelo?

Que el modelo está sobreajustado o que se utilizaron los datos de entrenamiento como datos de validación.

#13. ¿Utilizaría un Decision Tree para obtener un resultado predictivo y asi clasificar a la variable dependiente? Justifique su respuesta.

Si, el algoritmo de árbol de decisión es útil tanto para clasificación como para regresión. Es sencillo de comprender e interpretar debido a que tiene parecido con el flujo de toma de decisiones lógicas cotidianas y puede ser utilizado con variables categóricas y numéricas.

#14. Explique los indicadores obtenidos de la matriz de confusión.

* TP: Verdaderos positivos, representa el número de datos correctamente clasificados como verdaderos.

* TN: Verdaderos negativos, representa el número de datos correctamente clasificados como falsos.

* FP: Falsos positivos, error tipo I, representa el número de datos incorrectamente clasificados como positivos.

* FN: Falsos negativos, error tipo II, representa el número de datos incorrectamente clasificados como negativos.

* Accuracy: precisión del modelo al realizar predicciones, (TP + TN) / (TP + TN + FP + FN)

* Recall o Sensibilidad: capacidad del modelo para detectar o clasificar correctamente positivos, TP / (TP + FN)

* Especificidad: capacidad del modelopara detectar o clasificar correctamente negativos, TN / (TN + FP)

* F1 Score: combinación de precisión y sensibilidad en una sola métrica, 2 * (Precision * Recall) / (Precision + Recall)

#Ejercicio 1

In [1]:
import numpy as np
import pandas as pd
import sklearn

In [6]:
df = pd.read_csv("dataset_31_credit-g_2_.csv")
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,'<0',6,'critical/other existing credit',radio/tv,1169,'no known savings','>=7',4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,'0<=X<200',48,'existing paid',radio/tv,5951,'<100','1<=X<4',2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,'<100','4<=X<7',2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,'<0',42,'existing paid',furniture/equipment,7882,'<100','4<=X<7',2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,'<0',24,'delayed previously','new car',4870,'<100','1<=X<4',3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,'no checking',12,'existing paid',furniture/equipment,1736,'<100','4<=X<7',3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,'<0',30,'existing paid','used car',3857,'<100','1<=X<4',4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,'<100','>=7',4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,'<0',45,'existing paid',radio/tv,1845,'<100','1<=X<4',4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,'0<=X<200',45,'critical/other existing credit','used car',4576,'100<=X<500',unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [10]:
X = df[[ 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker']].values
y = df["class"]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

rf_classifier = RandomForestClassifier(n_estimators=100, max_depth=10)

rf_classifier.fit(X_train, y_train)

y_pred = rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: ", accuracy)