<a href="https://colab.research.google.com/github/vmcarranzam/labsl1/blob/main/Lab_2_Statistical_Learning_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Laboratorio Bicicletas

##Sobre el dataset (fuente:https://www.kaggle.com/datasets/lakshmi25npathi/bike-sharing-dataset)

Attribute Information:
Both hour.csv and day.csv have the following fields, except hr which is not available in day.csv

instant: record index

dteday : date

season : season (1:springer, 2:summer, 3:fall, 4:winter)

yr : year (0: 2011, 1:2012)

mnth : month ( 1 to 12)

hr : hour (0 to 23)

holiday : weather day is holiday or not (extracted from [Web Link])

weekday : day of the week

workingday : if day is neither weekend nor holiday is 1, otherwise is 0.

weathersit :

1: Clear, Few clouds, Partly cloudy, Partly cloudy

2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist

3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds

4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

temp : Normalized temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (only in hourly scale)

atemp: Normalized feeling temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (only in hourly scale)

hum: Normalized humidity. The values are divided to 100 (max)
windspeed: Normalized wind speed. The values are divided to 67 (max)
casual: count of casual users

registered: count of registered users

cnt: count of total rental bikes including both casual and registered

##1. ¿Qué rango de hora es la de mayor demanda?

Según lo observado al ordenar los datos del dataset en forma descendiente a partir de la columna "cnt", el rango de hora de mayor demanda es entre las 17 y 18 horas.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Cuadernos de Statistical Learning I/databici.csv")
df = df.sort_values("cnt", ascending = False)
df.head(50)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
14773,14774,2012-09-12,3,1,9,18,0,3,1,1,0.66,0.6212,0.44,0.2537,91,886,977
14964,14965,2012-09-20,3,1,9,17,0,4,1,1,0.64,0.6212,0.50,0.2239,91,885,976
14748,14749,2012-09-11,3,1,9,17,0,2,1,1,0.70,0.6364,0.28,0.0000,168,802,970
14725,14726,2012-09-10,3,1,9,18,0,1,1,1,0.62,0.6212,0.35,0.2985,111,857,968
15084,15085,2012-09-25,4,1,9,17,0,2,1,1,0.66,0.6212,0.39,0.2836,107,860,967
15780,15781,2012-10-24,4,1,10,17,0,3,1,1,0.66,0.6212,0.47,0.0000,87,876,963
10622,10623,2012-03-23,2,1,3,17,0,5,1,2,0.72,0.6515,0.42,0.1642,264,693,957
15108,15109,2012-09-26,4,1,9,17,0,3,1,1,0.74,0.6667,0.48,0.2985,77,876,953
15444,15445,2012-10-10,4,1,10,17,0,3,1,1,0.58,0.5455,0.43,0.2239,91,857,948
15588,15589,2012-10-16,4,1,10,17,0,2,1,1,0.52,0.5000,0.39,0.1940,104,839,943
14293,14294,2012-08-23,3,1,8,18,0,4,1,1,0.74,0.6667,0.48,0.2239,130,811,941
15756,15757,2012-10-23,4,1,10,17,0,2,1,1,0.68,0.6364,0.41,0.0000,67,871,938
14772,14773,2012-09-12,3,1,9,17,0,3,1,1,0.70,0.6364,0.41,0.2985,114,811,925
15732,15733,2012-10-22,4,1,10,17,0,1,1,1,0.62,0.6212,0.33,0.1045,84,838,922
15276,15277,2012-10-03,4,1,10,17,0,3,1,1,0.70,0.6515,0.65,0.0000,84,833,917
13596,13597,2012-07-25,3,1,7,17,0,3,1,1,0.80,0.6970,0.31,0.0000,130,783,913
15132,15133,2012-09-27,4,1,9,17,0,4,1,2,0.66,0.6212,0.69,0.2985,87,818,905
15300,15301,2012-10-04,4,1,10,17,0,4,1,1,0.70,0.6515,0.51,0.2239,112,789,901
15324,15325,2012-10-05,4,1,10,17,0,5,1,1,0.70,0.6364,0.42,0.1642,158,742,900
14965,14966,2012-09-20,3,1,9,18,0,4,1,1,0.60,0.6212,0.56,0.2537,119,781,900
12900,12901,2012-06-26,3,1,6,17,0,2,1,1,0.72,0.6515,0.28,0.4179,104,796,900
15133,15134,2012-09-27,4,1,9,18,0,4,1,2,0.66,0.6212,0.69,0.2239,77,822,899
15060,15061,2012-09-24,4,1,9,17,0,1,1,1,0.58,0.5455,0.30,0.0000,89,809,898
14124,14125,2012-08-16,3,1,8,17,0,4,1,1,0.82,0.7273,0.34,0.1940,130,767,897
14820,14821,2012-09-14,3,1,9,17,0,5,1,1,0.72,0.6667,0.51,0.1940,137,757,894
14220,14221,2012-08-20,3,1,8,17,0,1,1,1,0.70,0.6515,0.58,0.2836,83,810,893
14941,14942,2012-09-19,3,1,9,18,0,3,1,1,0.58,0.5455,0.40,0.2836,85,807,892
13597,13598,2012-07-25,3,1,7,18,0,3,1,1,0.80,0.6970,0.27,0.1343,104,787,891
13765,13766,2012-08-01,3,1,8,18,0,3,1,3,0.76,0.7121,0.62,0.2239,105,786,891
15636,15637,2012-10-18,4,1,10,17,0,4,1,2,0.58,0.5455,0.64,0.3284,102,788,890
15612,15613,2012-10-17,4,1,10,17,0,3,1,1,0.54,0.5152,0.56,0.1045,122,766,888
15301,15302,2012-10-04,4,1,10,18,0,4,1,1,0.66,0.6212,0.57,0.1045,75,812,887
14940,14941,2012-09-19,3,1,9,17,0,3,1,1,0.60,0.6212,0.38,0.2239,74,812,886
15804,15805,2012-10-25,4,1,10,17,0,4,1,1,0.60,0.5909,0.69,0.1642,112,774,886
15109,15110,2012-09-26,4,1,9,18,0,3,1,1,0.74,0.6667,0.48,0.2239,69,815,884
14796,14797,2012-09-13,3,1,9,17,0,4,1,1,0.72,0.6515,0.42,0.1940,97,787,884
15613,15614,2012-10-17,4,1,10,18,0,3,1,1,0.52,0.5000,0.59,0.1642,90,794,884
14244,14245,2012-08-21,3,1,8,17,0,2,1,1,0.74,0.6667,0.51,0.2836,92,786,878
13573,13574,2012-07-24,3,1,7,18,0,2,1,1,0.76,0.7121,0.62,0.3284,110,767,877
14749,14750,2012-09-11,3,1,9,18,0,2,1,1,0.64,0.6212,0.36,0.1642,110,767,877
11916,11917,2012-05-16,2,1,5,17,0,3,1,1,0.72,0.6667,0.51,0.1940,104,769,873
13213,13214,2012-07-09,3,1,7,18,0,1,1,1,0.76,0.6818,0.48,0.1343,82,790,872
13236,13237,2012-07-10,3,1,7,17,0,2,1,1,0.78,0.7121,0.49,0.1940,103,769,872
14724,14725,2012-09-10,3,1,9,17,0,1,1,1,0.66,0.6212,0.34,0.3284,127,744,871
14436,14437,2012-08-29,3,1,8,17,0,3,1,1,0.78,0.6818,0.35,0.2239,108,762,870
12444,12445,2012-06-07,2,1,6,17,0,4,1,1,0.72,0.6515,0.34,0.2537,91,778,869
13572,13573,2012-07-24,3,1,7,17,0,2,1,1,0.80,0.7424,0.52,0.3284,94,775,869
11941,11942,2012-05-17,2,1,5,18,0,4,1,1,0.66,0.6212,0.27,0.1642,134,734,868
13908,13909,2012-08-07,3,1,8,17,0,2,1,2,0.78,0.7424,0.62,0.1343,125,743,868
12612,12613,2012-06-14,2,1,6,17,0,4,1,1,0.72,0.6667,0.48,0.2239,117,750,867

##2. ¿Qué temporada es la mas alta?

Según lo observado, la temporada que más se repite entre los registros de mayor demanda es la 3, correspondiente a otoño.

In [3]:
df["season"].head(50).value_counts()

3    26
4    19
2     5
Name: season, dtype: int64

##3. ¿Es la temperatura relevante para el modelo?

Para comprobar si la temperatura es relevante para el modelo, creo modelos utilizando validación cruzada de K-folds, primero incluyendo a la temperatura como predictor y luego excluyéndola.

A partir de las diferencias entre los scores obtenidos utilizando la temperatura como predictor y los que no la utilizan, se concluye que esta variable es poco relevante para el modelo.

In [44]:
Y = df["cnt"]
X = df.drop(['instant'	, 'dteday', 'casual'	,'registered',	'cnt', 'holiday', 'workingday'], axis=1)

In [45]:
lr = linear_model.LinearRegression()
kf = KFold(n_splits=10, shuffle=True, random_state=10)
scores = np.empty(1)

In [46]:
score1 = []
for train_index, val_index in kf.split(X):
    X_train, y_train = X.iloc[train_index], Y.iloc[train_index]
    X_val, y_val = X.iloc[val_index], Y.iloc[val_index]
    
    lr.fit(X_train, y_train)
    score = lr.score(X_val, y_val)
    score1.append(score)
    coefficients = {'intercept': lr.intercept_, 'slope': lr.coef_}
    print(f'Fold score: {score}')

Fold score: 0.4071237701939123
Fold score: 0.3690768041908665
Fold score: 0.3776049675811367
Fold score: 0.3967642650180865
Fold score: 0.3755823587037108
Fold score: 0.3875442914139009
Fold score: 0.3859026186064899
Fold score: 0.3941743932994357
Fold score: 0.38659951067375886
Fold score: 0.39241257755799164

Ahora excluyéndola:

In [47]:
X = df.drop(['temp','instant'	, 'dteday', 'casual'	,'registered',	'cnt', 'holiday', 'workingday'], axis=1)

In [48]:
score2 = []
for train_index, val_index in kf.split(X):
    X_train, y_train = X.iloc[train_index], Y.iloc[train_index]
    X_val, y_val = X.iloc[val_index], Y.iloc[val_index]
    
    lr.fit(X_train, y_train)
    score = lr.score(X_val, y_val)
    score2.append(score)
    coefficients = {'intercept': lr.intercept_, 'slope': lr.coef_}
    print(f'Fold score: {score}')

Fold score: 0.40670759355453745
Fold score: 0.3694361138076522
Fold score: 0.37805640256989725
Fold score: 0.39659276825711276
Fold score: 0.3756049241194519
Fold score: 0.3869766875514673
Fold score: 0.38585047537081485
Fold score: 0.3951716961882109
Fold score: 0.3863005955429212
Fold score: 0.3916041228554784

In [59]:
scdif = np.subtract(score1, score2)
print(scdif.reshape(10,1))

[[ 4.16176639e-04]
 [-3.59309617e-04]
 [-4.51434989e-04]
 [ 1.71496761e-04]
 [-2.25654157e-05]
 [ 5.67603862e-04]
 [ 5.21432357e-05]
 [-9.97302889e-04]
 [ 2.98915131e-04]
 [ 8.08454703e-04]]

##4. ¿Es la humedad relevante para el modelo?

Utilizando el vector de scores sin exclusion del ejercicio anterior, utilizó de nuevo validación cruzada de K-folds para observar la diferencia de scores entre modelos que usan y modelos que no usan la humedad como predictor.

A partir de las diferencias entre los scores obtenidos utilizando la humedad como predictor y los que no la utilizan, se concluye que esta variable es relevante para el modelo.

In [66]:
X = df.drop(['hum','instant'	, 'dteday', 'casual'	,'registered',	'cnt', 'holiday', 'workingday'], axis=1)

In [67]:
score2 = []
for train_index, val_index in kf.split(X):
    X_train, y_train = X.iloc[train_index], Y.iloc[train_index]
    X_val, y_val = X.iloc[val_index], Y.iloc[val_index]
    
    lr.fit(X_train, y_train)
    score = lr.score(X_val, y_val)
    score2.append(score)
    coefficients = {'intercept': lr.intercept_, 'slope': lr.coef_}
    print(f'Fold score: {score}')

Fold score: 0.3714070797887854
Fold score: 0.3452220864566721
Fold score: 0.3413385370422134
Fold score: 0.36890526156079817
Fold score: 0.3473977690534328
Fold score: 0.3667572184160799
Fold score: 0.3565460473853662
Fold score: 0.3612665491483177
Fold score: 0.35982626344418744
Fold score: 0.36436063843032307

In [68]:
scdif = np.subtract(score1, score2)
print(scdif.reshape(10,1))

[[0.03571669]
 [0.02385472]
 [0.03626643]
 [0.027859  ]
 [0.02818459]
 [0.02078707]
 [0.02935657]
 [0.03290784]
 [0.02677325]
 [0.02805194]]

##5. ¿Qué condiciones serian ideales para nuestra demanda?

A partir de los datos observados en el top 50 del dataset, se concluye que las siguientes son las condiciones ideales para maximizar demanda:

1. Que sea otoño
2. Que la humedad sea menor al 50%
3. Que la hora sea entre las 17 y las 18 horas
4. Que la condición climática sea 1: Clear, Few clouds, Partly cloudy, Partly cloudy